{% extends "layout/basic.html" %}
{% block body %}
    <h1>{{thread.title}}</h1>
    <p>{{thread.author.uname}}/{{thread.time.toLocaleString()}}</p>
    {% if (user.hasPerm(PERM_THREAD_DELETE) or user._id.toHexString()==thread.author._id.toHexString()) %}
        <a href="/{{category.id}}/{{thread._id.toHexString()}}/delete">Delete thread</a>
    {% endif %}
    <br/>
    {{thread.content}}
    <br/>
    {% if user.hasPerm(PERM_THREAD_REPLY) %}
        <form id="comment" method="POST" action="/{{category.id}}/{{thread._id.toHexString()}}/comment">
            Your comment here:<input type="text" name="content"></input>
            <button type="submit">Submit</button>
        </form>
    {% endif %}
    {% for comment in comments %}
        {% if (user.hasPerm(PERM_COMMENT_DELETE) or user._id.toHexString()==comment.author._id.toHexString()) %}
            <a href="/{{category.id}}/{{thread._id.toHexString()}}/delete/{{comment._id.toHexString()}}">Delete comment</a>
        {% endif %}
        <p>{{comment.author.uname}}/{{comment.time.toLocaleString()}}</p>
        <p>{{comment.content}}</p>
    {% endfor %}
{% endblock %}